{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime", "standard"],
  "rules": {
    "multiline-ternary": "off",
    "no-console": "off",
    "no-lone-blocks": "off",
    "no-var": "off",
    "object-shorthand": "off",
    "no-useless-return": "off",
    "prefer-const": "off",
    "react/jsx-indent-props": [2, 2],
    "semi": [2, "always"],
    "space-before-function-paren": "off"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "AFRAME": true,
    "ga": true,
    "THREE": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
     },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
