{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-type-no-unknown": [true,
      "ignoreTypes": ["a-scene", "a-entity"]
    ],
    "order/properties-alphabetical-order": true
  }
}
