{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-type-no-unknown": [true,
      "ignoreTypes": ["a-scene", "a-entity"]
    ],
    "declaration-block-properties-order": "alphabetical"
  }
}
