@import './lib';

.components
  background-color $grayalt
  color $white
  height 100%
  overflow auto
  position fixed
  width 331px

div.vec2,
div.vec3,
div.vec4
  display inline

.vec2 input.number,
.vec3 input.number
  border 1px solid $primary
  border-radius 5px
  margin-right 2px
  transition border-color .1s
  width 53px
  &:hover
    border-color $primaryhover

.vec4 input.number
  width 34px

.collapsible-header
  align-items center
  display flex
  justify-content space-between

.componentTitle
  span
    max-width 200px
    overflow hidden
    text-overflow ellipsis
    text-transform uppercase
    white-space nowrap

.collapsible .static
  background-color $white
  border-bottom 1px solid $gray
  border-top 1px solid $gray
  cursor pointer
  color $gray
  height 16px
  padding 10px
  transition background-color .1s
  vertical-align middle
  &:hover
    background-color lighten($lightgray, 10%)

.collapsible .menu
  text-align right

.collapsible .menuafter
  color #bbb
  content '\2807'
  font-size 12px
  padding 5px
  text-align right

.collapsible .static
  margin 0

.collapsible .static .collapse-button
  border 6px solid transparent
  float left
  height 0
  margin-right 10px
  margin-top 2px
  width 0

.collapsible.collapsed .static .collapse-button
  border-left-color $gray
  margin-top 2px

.collapsible:not(.collapsed) .static .collapse-button
  border-top-color $gray
  margin-top 6px

.collapsible .content
  background-color $gray

.propertyRow
  align-items center
  display flex
  font-family $monospace
  font-size 10px
  min-height 20px
  padding 6px 15px

  &:nth-child(odd)
    background lighten($gray, 1%)

  &:nth-child(even)
    background $gray

  .text
    cursor default
    display inline-block
    overflow hidden
    padding-right 10px
    text-overflow ellipsis
    vertical-align middle
    width 125px

  .map_value
    margin 0 0 0 5px
    width 68px

  .Select-control
    font-size 11px
    height 24px

  .Select-placeholder,
  .Select--single > .Select-control .Select-value
    line-height 19px

  .Select-input
    height 22px

  input[type=text],
  input[type=number],
  input.string,
  input.number
    background #222
    color #1faaf2
    min-height 26px
    padding-left 5px
    padding-right 5px

  input.string
    box-sizing border-box
    width 165px

  .color_value
    margin 0 0 0 5px
    width 68px

.components *
  vertical-align middle

span.subcomponent
  color #999
  float none !important
  margin-left 10px
  vertical-align top !important

a.help-link
  opacity 0.4

a.help-linkhover
  opacity 1

#addComponentContainer
  align-items center
  background-color $gray
  display flex
  flex-direction column
  justify-content center
  padding 15px 10px 10px 10px

  #addComponentHeader
    font-family $monospace
    text-decoration underline

  #addComponent
    text-align left
    width 200px
    .option
      display flex
      justify-content space-between
      span
        color #1faaf2

.Select-menu-outer .is-focused span
  color #fff

.component-title
  align-items center
  display flex

#componentEntityHeader
  .collapsible-header
    bottom 4px
    position relative
  .collapse-button
    display none
  .static
    background #222
    height 10px
  .entityPrint
    font-size 14px
    padding-left 5px
  .entityName
    max-width 160px
    top 0
  .entityIcons
    color #FAFAFA

#mixinSelect
  width 160px

.componentHeader .fa
  color $gray
