@import './lib';

.entityPrint
  font-family $normalfont
  line-height 1.15em

.entityName
  display inline-block
  overflow hidden
  position relative
  text-overflow ellipsis
  top 3px
  white-space nowrap

[data-entity-name-type="id"]
  color var(--color-error)

[data-entity-name-type="class"]
  color var(--color-success)

[data-entity-name-type="mixin"]
  color var(--color-warning)
