@import './lib';

.entityPrint
  font-family $normalfont

.entityName
  display inline-block
  overflow hidden
  position relative
  text-overflow ellipsis
  top 3px
  white-space nowrap

[data-entity-name-type="id"]
  color $red

[data-entity-name-type="class"]
  color $green

[data-entity-name-type="mixin"]
  color $orange
