.help-lists
  display flex
  justify-content space-around

.help-list
  list-style none
  margin 0
  padding 0 0 10px
  width 350px

.help-list li
  margin-right 40px

.help-key-unit
  line-height 1.8
  margin-right 2em
  padding 5px 0

.help-key
  bottom 2px
  margin-right 4px
  min-width 60px
  position relative

.help-key span
  background-color #2e2e2e
  background-repeat repeat-x
  border 1px solid #666
  border-radius 3px
  box-shadow 0 0 5px #000
  color #999
  display inline-block
  font-size 12px
  padding 0 8px
  text-align center

.help-key-def
  color #bbb
  display inline-block
  margin-left 1em
