@import './lib';

body.aframe-inspector-opened,
.toggle-edit,
.sponsor-btn
  font-family BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

.wf-roboto-n4-active body.aframe-inspector-opened,
.wf-roboto-n4-active .toggle-edit,
.wf-roboto-n4-active .sponsor-btn
  font-family BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

body.aframe-inspector-opened
  background var(--color-base-200)
  color var(--color-base-content)
  font-size 12px
  margin 0
  overflow hidden

/* :where(:root) has zero specificity compared to :root, so any user defined :root will override the below rule */
:where(:root) {
  color-scheme dark
  --color-base-100: #333;
  --color-base-200: #242424;
  --color-base-300: #1d1d1d;
  --color-base-content: #c3c3c3;
  --color-primary: #1faaf2;
  --color-primary-content: #fff;
  --color-secondary: #92374d;
  --color-secondary-content: #fafafa;
  --color-accent: #155373;
  --color-accent-content: #fff;
  --color-neutral: #333;
  --color-neutral-content: #aaa;
  --color-info: #2cb7ff;
  --color-info-content: #fff;
  --color-success: #8b8;
  --color-success-content: #000;
  --color-warning: #d66853;
  --color-warning-content: #000;
  --color-error: #92374d;
  --color-error-content: #000;
}

#aframeInspector
  --color-base-lighter: unquote("color-mix(in oklab, var(--color-base-100) 90%, white 10%)");
  --color-primary-hover: unquote("color-mix(in oklab, var(--color-primary) 90%, black 10%)");
  --color-secondary-hover: unquote("color-mix(in oklab, var(--color-secondary) 90%, black 10%)");
  --color-accent-hover: unquote("color-mix(in oklab, var(--color-accent) 70%, black 30%)");
  --color-neutral-hover: unquote("color-mix(in oklab, var(--color-neutral) 90%, black 10%)");
  --color-property-defined: light-dark(
    unquote("color-mix(in oklab, var(--color-base-content) 10%, black 90%)"),   /* darker for light theme */
    unquote("color-mix(in oklab, var(--color-base-content) 10%, white 90%)")    /* lighter for dark theme */
  )

  @import './scenegraph';
  @import './components';
  @import './entity';
  @import './help';
  @import './select';
  @import './textureModal';
  @import './viewport';
  @import './widgets';

  .Select,
  code,
  pre,
  input,
  textarea,
  select
    font-family $monospace
    font-size 13px

  .wf-robotomono-n4-active .Select,
  .wf-robotomono-n4-active code,
  .wf-robotomono-n4-active pre,
  .wf-robotomono-n4-active input,
  .wf-robotomono-n4-active textarea,
  .wf-robotomono-n4-active select
    font-family Roboto Mono, Consolas, Andale Mono, Monaco, Courier New, monospace

  hr
    border 0
    border-top 1px solid var(--color-base-content)

  a
    cursor pointer

  button
    position relative

  code
    font-family Consolas, Andale Mono, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace

  textarea
    tab-size 4
    white-space pre
    word-wrap normal

  textarea,
  input
    outline none /* osx */

  .gltfIcon svg
    box-sizing content-box
    display inline
    height 20px
    position relative
    top 4px
    vertical-align baseline
    width 30px

  #scenegraph,
  #rightPanel
    z-index 9998

  #sidebar,
  #scenegraph,
    .panel
      cursor default
      user-select none

  .toggle-edit
    background-color var(--color-secondary)
    box-sizing content-box
    color var(--color-secondary-content)
    font-size 13px
    left 3px
    line-height 16px
    margin 0
    padding 6px 10px
    position fixed
    text-align center
    text-decoration none
    top 3px
    width 100px
    z-index 999999999

  .toggle-edit:hover
    background-color var(--color-secondary-hover)

  .try-editor-btn
    background-color var(--color-secondary)
    box-sizing content-box
    color var(--color-secondary-content)
    font-size 16px
    line-height 24px
    margin 0
    padding 6px 10px
    text-align center
    text-decoration none
    width 200px
    display flex
    gap 5px
    justify-content center

  .try-editor-btn:hover
    background-color var(--color-secondary-hover)
    color var(--color-secondary-content)

  .sponsor-btn
    background-color var(--color-neutral)
    box-sizing content-box
    color var(--color-neutral-content)
    font-size 13px
    left 127px
    line-height 16px
    margin 0
    padding 6px 10px
    position fixed
    text-align center
    text-decoration none
    top 3px
    width 80px
    z-index 999999999
    display flex
    gap 5px
    justify-content center

    svg
      fill currentColor
      color rgb(219, 97, 162)

  .sponsor-btn:hover
    background-color var(--color-neutral-hover)
    color var(--color-neutral-content)

  input
    background-color transparent
    border 1px solid var(--color-base-200)
    color var(--color-base-content)

  input,
  .texture canvas
    transition 0.1s background-color ease-in-out, 0.1s border-color ease-in-out, 0.1s color ease-in-out

  input[type=text],
  input[type=number],
  input.string,
  input.number
    min-height 14px
    outline none
    border-radius 0

  input[type="checkbox"]
    appearance none
    cursor pointer
    margin 0
    height 18px
    width 18px
    border 1px solid var(--color-base-300)
    border-radius 0
    background var(--color-base-300)
    position relative

    &:checked
        border 1px solid var(--color-base-300)
        background var(--color-primary)

        &::after
            content ''
            position absolute
            left 5px
            top 1px
            width 4px
            height 9px
            border solid white
            border-width 0 2px 2px 0
            transform rotate(45deg)

  input[type="checkbox"]:focus
    box-shadow none

  input.number
    background-color transparent !important
    border 0
    color var(--color-primary) !important
    cursor col-resize
    font-size 13px
    padding 2px

  input.string:focus,
  input.number:focus
    border 1px solid var(--color-primary)

  input.error
    border 1px solid var(--color-error)

  #sidebar
    background var(--color-base-200)
    width 331px

  input,
  textarea,
  select
    background var(--color-base-300)
    border 1px solid transparent
    color var(--color-base-content)

  select
    background var(--color-base-lighter)

  input[type=color]
    background-color var(--color-base-100)
    border 1px solid var(--color-base-300)
    height 28px
    cursor pointer

  input[type=color]
    cursor pointer
    height 25px
    padding 0
    width 50px

  /* Note these vendor-prefixed selectors cannot be grouped! */
  input[type=color]::-webkit-color-swatch
    border 0  /* To remove the gray border. */

  input[type=color]::-webkit-color-swatch-wrapper
    padding 0  /* To remove the inner padding. */
    border-radius 0  /* So it appears as rectangle instead of an ovale in Safari */

  input[type=color]::-moz-color-swatch
    border 0

  input[type=color]::-moz-focus-inner
    border 0  /* To remove the inner border (specific to Firefox). */
    padding 0

  .hidden
    visibility hidden

  a.button
    color var(--color-base-content)
    font-size 16px
    line-height 1em
    text-decoration none

    &:hover
      color var(--color-primary)

  @keyframes animateopacity
    from { opacity: 0 }
    to { opacity: 1 }

  .hide
    display none

  .a-canvas.state-dragging
    cursor grabbing

  #rightPanel
    align-items stretch
    display flex
    justify-content flex-end

  #inspectorContainer
    display flex
    justify-content space-between
    left 0
    height 100%
    pointer-events none
    position fixed
    top 0
    width 100%
    z-index 999999

  #scenegraph,
  #viewportBar,
  #rightPanel
    pointer-events all

  .aframe-inspector-opened a-scene .a-canvas
    background-color #191919
    z-index 9998

  .toggle-sidebar
    align-items center
    display flex
    height 100%
    position absolute
    z-index 9998

    a
      background-color var(--color-base-200)
      color var(--color-base-content)
      padding 5px
      z-index 9998

    a.hover
      background-color var(--color-primary)
      color var(--color-primary-content)

  .toggle-sidebar.left
    top 0
    left 0

  .toggle-sidebar.right
    top 0
    right 0
