/* CSS rules from the original FontAwesomeIcon component */
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  box-sizing: content-box;
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
