$primary=#1faaf2
$primaryhover=lighten(#1faaf2, 35%)

$bg=#242424
$bgdark=#1d1d1d
$bglight=#333
$bglighter=#393939

$red=#92374d
$green=#514b23
$orange=#d66853

$black=#222
$gray=#262626
$grayalt=#323232
$grayhover=#444

$lightgray=#AAA
$white=#c3c3c3

$normalfont=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif
$monospace=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

media--1024() {
  @media (min-width: 1024px) {
    {block}
  }
}
