@import './lib';

#toolbar
  background-color $bg

  .toolbarActions
    padding 0 0 5px
    display flex
    align-items baseline

    a.disabled
      color #666
      cursor default

    .helpButtonContainer
      flex-grow 1
      padding-right 10px
      text-align right

#scenegraph
  background $bg
  border-top 1px solid #111
  display flex
  flex-direction column
  overflow auto
  padding-top 32px
  width 230px

  .entity
    background $bg
    box-sizing border-box
    cursor pointer
    display flex
    gap 6px
    justify-content space-between
    align-items center
    line-height 1em
    padding 3px
    width 100%
    white-space nowrap

    &:hover
      background #1d2f39

    &.active
      background-color #155373
      color #fff
      .entityActions
        align-items center
        display flex
        padding-right 2px

    &.novisible
      &.active
        span,
        svg,
        .collapsespace,
        .id
          color #999

      &:not(.active)
        span,
        svg,
        .collapsespace,
        .id
          color #626262

  .component:hover
    color $primary

  .entityIcons
    margin-left 2px

  .entityActions
    display none

    .button
      color #fff
      font-size 12px
      margin-left 6px

  svg
    color #CCC

  .toolbarActions svg:hover,
  .entityActions svg:hover,
  .search a.button svg:hover
    color $primary

  .active svg
    color #FAFAFA

  .id
    color #ccc

  .option.active .id
    color #fff

  .collapsespace
    color #eee
    display inline-block
    text-align center
    width 14px

  .icons a.button
    color #fff

  .search
    padding 5px
    font-size 16px
    position relative
    display flex

    input
      color $white
      background $bgdark
      border-radius 0
      box-sizing border-box
      padding 5px 10px
      width 100%

    >svg, a.button
      position absolute
      right 14px
      top 10px

  .outliner
    background $bg
    color $white
    cursor default
    flex 1 1 auto
    font-size 13px
    height calc(100% - 98px)
    line-height normal
    outline none
    overflow-y auto
    padding 0
    width 230px
