@import './lib';

#toolbar
  background-color #333

  .toolbarActions
    padding 9px 0 5px

    a.disabled
      color #666
      cursor default

#scenegraph
  background #2b2b2b
  border-top 1px solid #111
  display flex
  flex-direction column
  overflow auto
  padding-top 32px
  width 230px

  .entity
    background #2b2b2b
    cursor pointer
    display flex
    justify-content space-between
    padding 4px
    width 100%
    white-space nowrap
    transition background .1s

    &:hover
      background #444

    &.active
      background-color #1faaf2
      color #fff
      .componenthover
        color #1888c1
      .entityActions
        display inline

    &.novisible
      &.active
        span,
        .fa,
        .collapsespace,
        .id
          color #AAA

      &:not(.active)
        span,
        .fa,
        .collapsespace,
        .id
          color #575757

  .componenthover
    color #1faaf2

  .entityIcons
    margin-left 2px

  .entityActions
    display none
    margin 0 14px 0 14px
    position relative
    top 2px

    .button
      color #fff
      font-size 12px
      margin-left 6px

  .fa
    color #CCC
    &:hover
      color $primary

  .active .fa
    color #FAFAFA

  .id
    color #ccc

  .option.active .id
    color #fff

  .collapsespace
    color #eee
    display inline-block
    text-align center
    width 14px

  .fa-eye
    color #bbb

  .option
    white-space pre

    span:first-child
      overflow hidden
      text-overflow ellipsis

  .icons a.button
    color #fff

  .search
    padding 5px
    color #aaa
    font-size 16px
    position relative

    input
      background #222
      border-radius 5px
      height 22px
      text-indent 10px
      width 216px

    .fa-search
      position absolute
      right 14px
      top 8px

    .fa-times
      position absolute
      right 15px
      top 9px

  .outliner
    background #2b2b2b
    color #868686
    cursor default
    flex 1 1 auto
    font-size 12px
    height calc(100% - 98px)
    outline none
    overflow-y auto
    padding 0
    width 230px

.scenegraph-bottom
  background-color #323232
  border-top 1px solid #111
  bottom 10
  height 40px
  left 0
  z-index 100

  a
    float right
    margin 10px
