@import './lib';

.select__control
  border 0
  min-height 26px

.select__indicator
  height 26px

.select__control,
.select__menu
  background #363636

.select__placeholder,
.select__menu,
.select__single-value
  color #CACACA

.select__option
  cursor pointer

.select__clear-indicator
  display none

.select__label
  font-size 11px

.select__option--is-focused
  background #444

.select__value-container
  height 26px
  position static
  &.select__value-container--is-multi
    height auto

.select__dropdown-indicator
  padding 3px 8px
