@import './lib';

.select__control
  border 0
  border-radius 0
  cursor pointer
  min-height 26px
  font-family $monospace
  font-size 13px

.select__indicator
  color var(--color-base-content)
  height 26px

.select__indicator-separator
  display none

.select__input
  min-height auto !important

.select__control,
.select__menu
  background var(--color-base-300)

.select__option
  padding 5px 10px

.select__placeholder,
.select__menu
  color var(--color-base-content)

.select__single-value
  color var(--color-primary)

.select__control--is-focused
  box-shadow none !important

.select__option
  cursor pointer

.select__label
  font-size 11px

.select__option--is-focused
  background var(--color-accent-hover)
  color var(--color-accent-content)

.select__option--is-selected
  background var(--color-accent)
  color var(--color-accent-content)

.select__value-container
  height 26px
  position static
  &.select__value-container--is-multi
    height auto
    padding 6px

.select__dropdown-indicator
  padding 3px 8px

.select__multi-value
  background var(--color-base-200)
  color var(--color-primary)

.select__multi-value__label
  color var(--color-primary)

.select__multi-value__remove:hover
  color var(--color-base-content)
  background var(--color-base-200)
