@import './lib';

#viewportBar
  align-items center
  background-color $grayalt
  color $white
  display flex
  flex-grow 2
  height 32px
  justify-content space-between
  left 0
  margin 0 auto
  right 0
  top 0

.toolbarButtons
  position relative

  *
    margin-left 0
    padding 8px
    vertical-align middle

  a.button
    margin 0 6px 0 0
    transition background-color .1s
    &:not(.active):hover
      background-color $grayhover

  .active
    background-color $primary
    color $white

  .active:hover
    color $white !important

.local-transform
  padding-left 10px

.local-transform label
  color $lightgray
  font-family $monospace
  padding-left 5px

.local-transform a.button
  padding-top 0

#cameraSelect
  cursor pointer
  width 126px
  .select__dropdown-indicator
    padding-left 3px
    padding-right 3px

#cameraToolbar
  align-items center
  display flex
  a
    margin-right 10px
