#viewportBar
  background-color #262626
  color #333
  display flex
  flex-grow 2
  height 32px
  justify-content space-between
  left 0
  margin 0 auto
  right 0
  top 0

.transformToolbar
  position relative

  *
    margin-left 0
    padding 8px
    vertical-align middle

  a.button
    margin 0 6px 0 0
    transition background-color .1s
    &:not(.active):hover
      background-color #444

  .active
    background-color #1faaf2
    color #fff

  .activehover
    color #fff !important

.local-transform
  padding-left 10px

.local-transform label
  color #aaa
  padding-left 5px

.local-transform a.button
  padding-top 0

