@import './lib';

#viewportBar
  align-items center
  background-color var(--color-base-200)
  color var(--color-base-content)
  display flex
  flex-grow 2
  height 32px
  font-size 15px
  justify-content space-between
  padding 0 5px

.toolbarButtons
  display flex
  align-items center
  gap 6px

  a.button
    & svg
      padding 8px

    &:not(.active) svg:hover
      background-color var(--color-base-lighter)

  .active svg
    background-color var(--color-primary)
    color var(--color-primary-content)

  .active:hover svg
    color var(--color-primary-content) !important

.local-transform
  display flex
  align-items center
  gap 5px
  padding 0 10px

.local-transform label
  color var(--color-base-content)

#cameraSelect
  cursor pointer
  width 120px
  .select__dropdown-indicator
    padding-left 3px
    padding-right 3px

#cameraToolbar
  align-items center
  display flex
  .select__control
    background none
  .select__single-value
    color var(--color-base-content)
    &:hover
      color var(--color-primary)

#viewportHud
  display none
  +media--1024()
    display block
