@import './lib';

.Select-control
  background-color #222 !important
  border none
  border-radius 0
  color $primary
  font-family $monosapce

.Select-menu-outer
  border none

.Select-menu-outer .is-focused
  background-color $primary !important
  color $white

.Select-option
  background-color #222 !important

.select-widget
  display inline-block
  width 157px

.Select-placeholder,
.Select--single > .Select-control .Select-value
  color $primary !important

.Select-value-label
  color $primary !important
