.Select-control
  background-color #222 !important
  border none
  border-radius 0
  color #1faaf2

.Select-menu-outer
  border none

.Select-menu-outer .is-focused
  background-color #1faaf2 !important
  color #fff

.Select-option
  background-color #222 !important

.select-widget
  display inline-block
  width 157px

.Select-placeholder,
.Select--single > .Select-control .Select-value
  color #1faaf2 !important

.Select-value-label
  color #1faaf2 !important

/* Dropdown menu */
.dropbtn
  border none
  color white
  cursor pointer

.dropdown
  display inline-block
  position relative

.dropdown-content
  background-color #f9f9f9
  box-shadow 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  display none
  left 8px
  min-width 38px
  position absolute
  z-index 999

.dropdown-content a
  background-color #232323
  color #7d7d7d
  display block
  padding 10px 14px
  text-decoration none

.dropdown-content ahover
  background-color #4ecbff
  color #fff

.dropdownhover .dropdown-content
  display block

.dropdownhover .dropbtn
  color #1faaf2

.collapsible .static
  margin 0

.collapsible .static .collapse-button
  border 6px solid transparent
  float left
  height 0
  margin-right 6px
  width 0

.collapsible.collapsed .static .collapse-button
  border-left-color #1faaf2
  margin-top 2px

.collapsiblenot(.collapsed) .static .collapse-button
  border-top-color #1faaf2
  margin-top 6px

.collapsible.collapsed .content
  display none
