@import './lib';

.Select-control
  background-color #222 !important
  border none
  border-radius 0
  color $primary
  font-family $monosapce

.Select-menu-outer
  border none

.Select-menu-outer .is-focused
  background-color $primary !important
  color $white

.Select-option
  background-color #222 !important

.select-widget
  display inline-block
  width 157px

.Select-placeholder,
.Select--single > .Select-control .Select-value
  color $primary !important

.Select-value-label
  color $primary !important

/* Dropdown menu */
.dropbtn
  border none
  color $white
  cursor pointer

.dropdown
  display inline-block
  position relative

.dropdown-content
  background-color #f9f9f9
  box-shadow 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  display none
  left 8px
  min-width 38px
  position absolute
  z-index 999

.dropdown-content a
  background-color #232323
  color #7d7d7d
  display block
  padding 10px 14px
  text-decoration none

.dropdown-content a:hover
  background-color #4ecbff
  color $white

.dropdownhover .dropdown-content
  display block

.dropdownhover .dropbtn
  color $primary
