body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
}

button {
	position: relative;
}

textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

	textarea.success {
		border-color: #8b8 !important;
	}

	textarea.fail {
		border-color: #f00 !important;
		background-color: rgba(255,0,0,0.05);
	}

textarea, input { outline: none; } /* osx */

#sidebar,
#sidebar-left,
.Panel {
	cursor: default;
	user-select: none;
}

	.collapsible .static {
		margin: 0;
	}

	.collapsible .static .button {
		float: left;
		margin-right: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
	}

	.collapsible.collapsed .static .button {
		margin-top: 2px;
		border-left-color: #1faaf2;
	}

	.collapsible:not(.collapsed) .static .button {
		margin-top: 6px;
		border-top-color: #1faaf2;
	}

	.collapsible.collapsed .content {
		display: none;
	}

/* CodeMirror */

.CodeMirror {

	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;

}

	.CodeMirror .errorLine {

		background: rgba(255,0,0,0.25);

	}

	.CodeMirror .esprima-error {

		color: #f00;
		text-align: right;
		padding: 0 20px;

	}

.toggle-edit {
	background-color: #ed3160;
	position: fixed;
	right: 3px;
	top: 3px;
	padding: 6px 20px;
	color: #fff;
	text-decoration: none;
}

.toggle-edit:hover {
	background-color: rgb(228,43,90);
}
