body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

body.aframe-inspector-opened {
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

a {
  cursor: pointer;
}

button {
  position: relative;
}

code {
  font-family: Consolas, Andale Mono, Monaco, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

textarea {
  tab-size: 4;
  white-space: pre;
  word-wrap: normal;
}

textarea.success {
  border-color: #8b8 !important;
}

textarea.fail {
  border-color: #f00 !important;
  background-color: rgba(255, 0, 0, 0.05);
}

textarea,
input {
  outline: none; /* osx */
}

#left-sidebar,
#right-panels {
  z-index: 9999;
}

#sidebar,
#left-sidebar,
.panel {
  cursor: default;
  user-select: none;
}

.collapsible .static {
  margin: 0;
}

.collapsible .static .collapse-button {
  float: left;
  margin-right: 6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

.collapsible.collapsed .static .collapse-button {
  margin-top: 2px;
  border-left-color: #1faaf2;
}

.collapsible:not(.collapsed) .static .collapse-button {
  margin-top: 6px;
  border-top-color: #1faaf2;
}

.collapsible.collapsed .content {
  display: none;
}

.toggle-edit {
  background-color: #ed3160;
  position: fixed;
  left: 3px;
  top: 3px;
  padding: 6px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  z-index: 99999;
  width: 174px;
}

.toggle-edit:hover {
  background-color: rgb(228, 43, 90);
}

.scenegraph {
  border-top: 1px solid #111;
  padding-top: 32px;
}

.scenegraph .search {
  padding: 5px;
}

.scenegraph-toolbar {
  background-color: #333;
  position: fixed;
  top: 32px;
}

.scenegraph-actions {
  padding: 9px 0 5px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 185px;
  height: 22px;
  background: #222;
  border-radius: 5px;
}

.search input {
  text-indent: 10px;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  right: 11px;
}

input {
  background-color: transparent;
  border: 1px solid #555;
  color: #fff;
}

input,
.texture canvas {
  transition: 0.1s background-color ease-in-out, 0.1s border-color ease-in-out, 0.1s color ease-in-out;
}

input[type=text],
input[type=number],
input.string,
input.number {
  min-height: 14px;
  outline: none;
}

input.number {
  color: #20b1fb !important;
  font-size: 12px;
  border: 0;
  padding: 2px;
  cursor: col-resize;
  background-color: transparent !important;
}

input.string:focus,
input.number:focus {
  border: 1px solid #20b1fb;
  cursor: auto;
  color: #fff;
}

#left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  overflow: auto;
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#sidebar {
  width: 330px;
  background: #2b2b2b;
}

#sidebar * {
  vertical-align: middle;
}

input,
textarea,
select {
  background: #222;
  border: 1px solid transparent;
  color: #888;
}

.row {
  min-height: 20px;
  margin-bottom: 10px;
}

input[type=color] {
  border: 1px solid #111;
  background-color: #333;
  cursor: pointer;
}

.texture canvas {
  border: 1px solid #222;
}

input[type=color] {
  height: 16px;
  width: 64px;
  cursor: pointer;
  padding: 0;
}

/* Note: these vendor-prefixed selectors cannot be grouped! */
input[type=color]::-webkit-color-swatch {
  border: 0;  /* To remove the gray border. */
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;  /* To remove the inner padding. */
}

input[type=color]::-moz-color-swatch {
  border: 0;
}

input[type=color]::-moz-focus-inner {
  border: 0;  /* To remove the inner border (specific to Firefox). */
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #fff;
}

body.editor-opened {
  background-color: #191919;
}

.components {
  background-color: #323232;
  color: #bcbcbc;
  width: 330px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

div.vec2,
div.vec3 {
  display: inline;
}

.vec2 input.number,
.vec3 input.number {
  width: 46px;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
}

.component-title span {
  float: left;
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.collapsible .static {
  vertical-align: middle;
  background-color: #323232;
  color: #fff;
  padding: 10px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  height: 16px;
}

.collapsible .menu {
  text-align: right;
}

.collapsible .menu::after {
  color: #bbb;
  content: '\2807';
  font-size: 12px;
  padding: 5px;
  text-align: right;
}

.collapsible .static .collapse-button {
  margin-top: 2px;
  width: 0;
  height: 0;
  float: left;
  margin-right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.collapsible.collapsed .static .collapse-button {
  border-left-color: #bbb;
}

.collapsible:not(.collapsed) .static .collapse-button {
  border-top-color: #bbb;
}

.collapsible .content {
  background-color: #2b2b2b;
  padding: 10px;
}

.components .row {
  min-height: 20px;
  margin-bottom: 10px;
}

.components * {
  vertical-align: middle;
}

.components .row .text {
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.components .row .map_value {
  margin: 0 0 0 5px;
  width: 68px;
}

.hidden {
  visibility: hidden;
}

.texture canvas + input {
  margin-left: 5px;
}

.texture .fa {
  padding-right: 5px;
}

.scenegraph-bottom {
  background-color: #323232;
  bottom: 10;
  height: 40px;
  z-index: 100;
  border-top: 1px solid #111;
  left: 0;
}

a.button {
  color: #bcbcbc;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}

a.button:hover {
  color: #1faaf2;
}

.scenegraph-bottom a {
  float: right;
  margin: 10px;
}

.modal {
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #232323;
  margin: auto;
  padding: 0;
  width: 889px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.2s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #08f;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 16px;
  overflow: auto;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

/* Gallery */
.gallery {
  padding: 0;
  overflow: auto;
  margin: 0 auto;
}

.gallery li {
  width: 155px;
  margin: 8px;
  float: left;
  overflow: hidden;
  display: inline-block;
  box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.63);
  cursor: pointer;
}

.gallery li:hover {
  box-shadow: 0 0 4px 3px rgba(29, 138, 190, 0.63);
}

.gallery li .detail {
  background-color: #323232;
  padding: 10px;
  min-height: 60px;
}

.gallery li:hover .detail {
  background-color: #444;
}

.gallery li .detail span {
  color: #bbb !important;
}

.gallery li .detail span.title {
  color: #eee !important;
  font-weight: bold;
}

.preview {
  width: 200px;
  float: right;
  padding: 10px;
}

.new_asset_options {
  float: left;
  width: 600px;
}

.modal button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}

.modal button:focus {
  outline: none;
}

.modal button {
  color: #fff;
  background-color: #1eaaf1;
  border: none;
}

.modal button:hover,
.modal button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

.modal button:active,
.modal button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

.newimage {
  padding: 10px;
  background-color: #323232;
  overflow: auto;
}

.hide {
  display: none;
}

span.value {
  color: #fff;
  display: inline-block;
}

span.mixinlist {
  color: #888 !important;
  display: inline-block;
}

span.mixinlist ul {
  list-style-type: none;
  padding: 5px;
  margin: 5px 0 0;
  background-color: #222;
}

span.mixinlist ul li {
  margin-bottom: 3px;
  font-size: 11px;
}

span.mixinlist ul li:last-child {
  margin-bottom: 0;
}

span.mixin {
  width: 100px;
  display: inline-block;
}

.mixinlist {
  margin-left: 120px;
}

span.subcomponent {
  color: #999;
  margin-left: 10px;
  float: none !important;
  vertical-align: top !important;
}

.collapsible .static {
  cursor: pointer;
}

.a-canvas.state-dragging {
  cursor: grabbing;
}

code,
pre,
input,
textarea,
select {
  font-family: Consolas, Andale Mono, Monaco, Courier New, monospace;
}

.Select,
.wf-active code,
.wf-active pre,
.wf-active input,
.wf-active textarea,
.wf-active select {
  font-family: Roboto Mono, Consolas, Andale Mono, Monaco, Courier New, monospace;
}

.tagName {
  font-weight: 500;
}

.sidebar-title {
  color: #aaa;
  text-align: center;
  background-color: #444;
  padding: 6px 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.toolbar {
  height: 32px;
  background-color: #262626;
  color: #333;
  position: relative;
}

.toolbar * {
  vertical-align: middle;
  padding: 8px;
  margin-left: 0;
}

.toolbar a.button {
  margin: 0 6px 0 0;
}

.toolbar .active {
  background-color: #1faaf2;
  color: #fff;
}

.toolbar .active:hover {
  color: #fff !important;
}

.local-transform {
  padding-left: 10px;
}

.local-transform label {
  color: #aaa;
  padding-left: 5px;
}

.local-transform a.button {
  padding-top: 0;
}

.outliner {
  color: #868686;
  background: #2b2b2b;
  padding: 0;
  font-size: 12px;
  cursor: default;
  outline: none;
  flex: 1 1 auto;
  overflow-y: auto;
  position: fixed;
  width: 200px;
  top: 98px;
  height: calc(100% - 98px);
}

.outliner .option {
  padding: 4px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.outliner .option.active {
  background-color: #1faaf2;
  color: #fff;
}

.outliner .option .component:hover {
  color: #1faaf2;
}

.outliner .option.active .component:hover {
  color: #1888c1;
}

.outliner .option .icons {
  display: none;
  margin: 0 3px 0 10px;
}

.outliner .option .icons .button {
  font-size: 12px;
  color: #fff;
}

.outliner .option.active .icons {
  display: inline;
}

.outliner .fa {
  color: #aaa;
}

.outliner .active .fa {
  color: #fff;
}

a.flat-button {
  color: #bcbcbc;
  background-color: #262626;
  font-size: 11px;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px;
}

a.flat-button:hover {
  color: #1faaf2;
}

.component-title {
  display: flex;
  align-items: center;
}

a.help-link {
  opacity: 0.4;
}

a.help-link:hover {
  opacity: 1;
}

#right-panels {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
}

#aframe-inspector-panels {
  display: flex;
  justify-content: space-between;
}

/* This is a temporaly hack, we should style the editor instead of overwriting
   the a-scene to fix the "display: block" issue. */
.aframe-inspector-opened a-scene {
  display: inline !important;
}

.aframe-inspector-opened a-scene .a-canvas {
  position: fixed;
  background-color: #191919;
  z-index: 9999;
}

span.entity-name {
  font-family: Consolas, Andale Mono, Monaco, Courier New, monospace;
  color: #fff;
  font-size: 16px;
}

.add-component {
  width: 200px;
}

.Select-control {
  background-color: #222 !important;
  border-radius: 0;
  color: #1faaf2;
  border: none;
}

.Select-menu-outer {
  border: none;
}

.Select-menu-outer .is-focused {
  background-color: #1faaf2 !important;
  color: #fff;
}

.Select-option {
  background-color: #222 !important;
}

.select-widget {
  display: inline-block;
  width: 157px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  color: #1faaf2 !important;
}

.Select-value-label {
  color: #1faaf2 !important;
}

.row .Select-control {
  height: 24px;
  font-size: 11px;
}

.row .Select-placeholder,
.row .Select--single > .Select-control .Select-value {
  line-height: 19px;
}

.row .Select-input {
  height: 22px;
}

.row input[type=text],
.row input[type=number],
.row input.string,
.row input.number {
  min-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: #1faaf2;
  border: 1px solid transparent;
  background: #222;
}

/* shortcuts help */
.help-lists {
  display: flex;
  justify-content: space-around;
}

.help-list {
  list-style: none;
  margin: 0;
  padding: 0 0 10px;
  width: 350px;
}

.help-list li {
  margin-right: 40px;
}

.help-key-unit {
  line-height: 1.8;
  margin-right: 2em;
  padding: 5px 0;
}

.help-key {
  min-width: 60px;
  position: relative;
  bottom: 2px;
  margin-right: 4px;
}

.help-key span {
  font-size: 12px;
  color: #999;
  display: inline-block;
  padding: 0 8px;
  text-align: center;
  background-color: #2e2e2e;
  background-repeat: repeat-x;
  border: 1px solid #666;
  border-radius: 3px;
  box-shadow: 0 0 5px #000;
}

.help-key-def {
  display: inline-block;
  margin-left: 1em;
  color: #bbb;
}

.add-component {
  text-align: left;
}

.add-component {

}

.add-component .option {
  display: flex;
  justify-content: space-between;
}

.add-component .option span {
  color: #1faaf2;
}

.Select-menu-outer .is-focused span {
  color: #fff;
}

.add-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  padding: 10px;
}

.aregistry-button {
  padding: 8px;
  font-size: 12px;
  margin-left: 10px;
}

.aregistry-button:hover {
  background-color: #1faaf2;
}

.aregistry-button img {
  width: 20px;
  height: 20px;
}
